// contains the syling of the menu drawer

.menuDrawer {
    width: 20em;
  }
.listItem {
    color: black;
    text-decoration: none;
  }
.subListItem {
    margin-left: 4em;
  }

.icon {
  color: rgb(246,137,31);
}
