// contains the global syling of the application

body,
html {
  font-family: "Segoe UI", source-sans-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: -0.01rem;
  touch-action: manipulation;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  line-height: 1.5;
  width: 100%;
  background-color: white !important;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  height: 100%;
  width: 100%;
}
